name: Build and Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  semantic-release:
    name: Semantic Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      version: ${{ steps.release.outputs.version }}
    steps:
      - name: Create Release
        id: release
        uses: Byrde/github-reusable-workflows/actions/semantic-release@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          should-create-release: 'true'

  build-and-publish:
    needs: semantic-release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: v${{ needs.semantic-release.outputs.version }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        env:
          REGISTRY: ghcr.io
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Image Name
        id: image
        run: echo "name=ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${GITHUB_REPOSITORY#*/}" >> "$GITHUB_OUTPUT"

      - name: Build & Publish
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ steps.image.outputs.name }}:${{ needs.semantic-release.outputs.version }}
            ${{ steps.image.outputs.name }}:latest
          labels: |
            org.opencontainers.image.version=${{ needs.semantic-release.outputs.version }}
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
